<!DOCTYPE html>
<html>
<head>
    <title> Orders </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Orders</h1>
<table style="width:80%; background-color: #7f7f7f;  margin: 0 auto;">
    <tr>
        <th>Track number</th>
        <th>Created</th>
        <th>Status</th>
    </tr>
    <% orders.forEach(function(order) { %>
    <tr>
        <td><%= order.trackNumber %></td>
        <td><%= order.created %></td>
        <td><%= order.status %></td>
    </tr>
    <% }); %>
</table>
</body>
</html>
